<%= labelled_fields_for :pull, @pull do |f| %>

  <div class="splitcontent">
    <div class="splitcontentleft">
      <% if @pull.safe_attribute? 'priority_id' %>
        <p><%= f.select :priority_id, (available_pull_priorities.collect {|p| [p.name, p.id]}), {:required => true} %></p>
      <% end %>

      <% if @pull.safe_attribute? 'assigned_to_id' %>
        <p><%= f.select :assigned_to_id, principals_options_for_select(@pull.assignable_users, @pull.assigned_to), :include_blank => true %></p>
      <% end %>

      <% if @pull.safe_attribute?('category_id') && @pull.project.issue_categories.any? %>
        <p><%= f.select :category_id, (@pull.project.issue_categories.collect {|c| [c.name, c.id]}), :include_blank => true %>
          <%= link_to(l(:label_issue_category_new),
                      new_project_issue_category_path(@pull.project),
                      :remote => true,
                      :method => 'get',
                      :title => l(:label_issue_category_new),
                      :tabindex => 200,
                      :class => 'icon-only icon-add'
              ) if User.current.allowed_to?(:manage_categories, @pull.project) %></p>
      <% end %>

      <% if @pull.safe_attribute?('fixed_version_id') && @pull.assignable_versions.any? %>
        <p><%= f.select :fixed_version_id, version_options_for_select(@pull.assignable_versions, @pull.fixed_version), :include_blank => true %>
          <%= link_to(l(:label_version_new),
                      new_project_version_path(@pull.project),
                      :remote => true,
                      :method => 'get',
                      :title => l(:label_version_new),
                      :tabindex => 200,
                      :class => 'icon-only icon-add'
              ) if User.current.allowed_to?(:manage_versions, @pull.project) %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
