<h3 class="title"><%= l(('label_choose_'+ kind +'_branch').to_sym) %></h3>

<p><%= text_field_tag 'commit', nil, :placeholder => 'Branch, tag, commit, or history marker', :id => 'pull-commit-custom' %></p>

<ul>
  <% repository.branches.each  do|branch| %>
    <li><a href="#" onclick="pullSelectBranch('<%= kind %>', '<%= branch %>'); hideModal(this); return false;"><%= branch %></a></li>
  <% end %>
</ul>

<p class="buttons">
  <%= submit_tag l(:button_select), :name => nil, :onclick => "pullSelectBranch('" + kind +"'); hideModal(this);" %>
  <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
</p>
