<%= labelled_form_for @pull, :html => {:id => 'pull-form'} do |f| %>
  <%= error_messages_for 'pull' %>
  <%= render :partial => 'conflict' if @conflict %>

  <div class="box">
    <% if @pull.attributes_editable? %>
      <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
        <div id="all_attributes">
          <%= render :partial => 'form', :locals => {:f => f} %>
        </div>
      </fieldset>
    <% end %>

    <% if @pull.notes_addable? %>
      <fieldset><legend><%= l(:field_notes) %></legend>
        <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :no_label => true %>
        <% if Redmine::VERSION.to_s >= '4.0' %>
          <%= wikitoolbar_for 'pull_notes', preview_edit_pull_path(:project_id => @project, :id => @pull) %>
        <% else %>
          <%= wikitoolbar_for 'pull_notes' %>
        <% end %>

        <% if @pull.safe_attribute? 'private_notes' %>
          <%= f.check_box :private_notes, :no_label => true %> <label for="pull_private_notes"><%= l(:field_private_notes) %></label>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @pull.last_journal_id %>
  <%= submit_tag l(:button_submit) %>
  <% if Redmine::VERSION.to_s < '4.0' %>
    <%= preview_link preview_edit_pull_path(:project_id => @project, :id => @pull), 'pull-form' %> |
  <% end %>
  <%= link_to l(:button_cancel), pull_path(id: @pull.id), :onclick => params[:action] == 'show' ? "$('#update').hide(); return false;" : '' %>
<% end %>

<% if Redmine::VERSION.to_s < '4.0' %>
  <div id="preview" class="wiki"></div>
<% end %>
