<%= labelled_fields_for :pull, @pull do |f| %>
  <% if (@pull.safe_attribute?('repository_id') && @project.repositories.count > 1) %>
    <p><%= f.select :repository_id, @project.repositories.collect {|r| [r.name, r.id]}, {:required => true}, :data => { :remote => true, :method => 'get', :url => compare_pull_path } %></p>
  <% end %>

  <% if @pull.safe_attribute?('commit_base') && @pull.safe_attribute?('commit_head') %>
    <p>
      <%= f.label_for_field :between, :required => true %>
      <span id="pull-new-compare">
        <%= render :partial => 'pulls/compare', :locals => {:repository => @pull.repository, :commit_base => @pull.commit_base, :commit_head => @pull.commit_head} %>
      </span>

      <%= f.hidden_field :commit_base, :value => @pull.commit_base, :id => 'pull-commit-input-base' %>
      <%= f.hidden_field :commit_head, :value => @pull.commit_head, :id => 'pull-commit-input-head' %>
    </p>
  <% end %>

  <% if @pull.safe_attribute? 'subject' %>
    <p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
  <% end %>

  <% if @pull.safe_attribute? 'description' %>
    <p>
      <%= f.label_for_field :description %>
      <%= link_to_function content_tag(:span, l(:button_edit), :class => 'icon icon-edit'), '$(this).hide(); $("#pull_description_and_toolbar").show()' unless @pull.new_record? %>
      <%= content_tag 'span', :id => "pull_description_and_toolbar", :style => (@pull.new_record? ? nil : 'display:none') do %>
        <%= f.text_area :description,
                        :cols => 60,
                        :rows => [[10, @pull.description.to_s.length / 50].max, 20].min,
                        :accesskey => accesskey(:edit),
                        :class => 'wiki-edit',
                        :no_label => true %>
      <% end %>
    </p>
    <%= wikitoolbar_for 'pull_description' %>
  <% end %>

  <div id="attributes" class="attributes">
    <%= render :partial => 'pulls/attributes' %>
  </div>

  <%= call_hook(:view_pulls_form_details_bottom, { :pull => @pull, :form => f }) %>
<% end %>
