<%= labelled_form_for pull, :html => {:id => 'pull-merge-form'} do |f| %>
  <% if pull.closable? %>
    <div class="box pulls__merge">
      <strong><%= pull_review_title(pull) %></strong>
      <em class="info"><%= pull_review_description(pull) %>.</em>

      <hr>

      <strong>This branch has no conflicts with the base branch</strong>
      <em class="info">Merging can be performed automatically.</em>

      <!--
      <% if pull.mergable? %>
        <hr>

        <%= submit_tag l(:button_merge_pull_request), :name => 'merge', :disabled => true %>
        <em class="info">or view <a href="#">command line instructions</a>.</em>

        <div id="pull-merge-instructions" style="display: none;">
          <h4>Merging via command line</h4>
          <p>If you do not want to use the merge button or an automatic merge cannot be performed, you can perform a manual merge on the command line.</p>

          <h5>Step 1: From your project repository, bring in the changes and test.</h5>
          <pre>git fetch origin
    git checkout -b <%= pull.commit_head %> origin/<%= pull.commit_head %>
    git merge master</pre>

          <h5>Step 2: Merge the changes and update on GitHub.</h5>
          <pre>git checkout <%= pull.commit_base %>
    git merge --no-ff <%= pull.commit_head %>
    git push origin master</pre>
        </div>
      <% end %>
      -->
    </div>
  <% end %>

  <div id="update">
    <%= f.text_area :notes, :cols => 60, :rows => 7, :class => 'wiki-edit', :no_label => true, :placeholder => l(:label_leave_comment), :id => 'issue_notes' %>
    <%= wikitoolbar_for 'issue_notes' %>
  </div>

  <%= submit_tag l(:button_comment) %>
  <%= submit_tag l(:button_close_pull_request), :name => 'close' if pull.closable? %>
<% end %>
