<%= labelled_form_for pull, :html => {:id => 'pull-review-form'} do |f| %>
  <h3><%= l(:label_review_changes) %></h3>

  <div class="box">
      <p>
        <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :no_label => true, :id => 'pull_review_notes', :placeholder => l(:label_review_summary) %>
        <%= wikitoolbar_for 'pull_review_notes' %>
      </p>

      <label class="pulls__status">
        <input type="radio" name="review[status]">
        <strong><%= l(:label_comment) %></strong>
        <em class="info"><%= l(:label_comment_help) %></em>
      </label>

      <label class="pulls__status">
        <input type="radio" name="review[status]">
        <strong><%= l(:label_approve) %></strong>
        <em class="info"><%= l(:label_approve_help) %></em>
      </label>

      <label class="pulls__status">
        <input type="radio" name="review[status]">
        <strong><%= l(:label_request_changes) %></strong>
        <em class="info"><%= l(:label_request_changes_help) %></em>
      </label>
  </div>

  <p class="audit-buttons">
    <%= submit_tag l(:button_submit_review), :name => 'review' %>
  </p>
<% end %>
