<h3><%= l(:label_pulls) %></h3>

<ul>
  <li><%= link_to l(:label_authored), _project_pulls_path(@project, :utf8 => '✓', :set_filter => 1, :f => ['author_id'], :op => {:author_id => '='}, :v => {:author_id => ['me']}) %></li>
  <li><%= link_to l(:label_assigned), _project_pulls_path(@project, :set_filter => 1) %></li>
  <li><%= link_to l(:label_changes_requested), _project_pulls_path(@project, :set_filter => 1) %></li>
  <li><%= link_to l(:label_review_requested), _project_pulls_path(@project, :set_filter => 1) %></li>
  <li><%= link_to l(:label_pull_view_all), _project_pulls_path(@project, :set_filter => 1) %></li>
</ul>

<%= call_hook(:view_pulls_sidebar_pulls_bottom) %>
<%= call_hook(:view_pulls_sidebar_planning_bottom) %>

<%= render_sidebar_queries(PullQuery, @project) %>
<%= call_hook(:view_pulls_sidebar_queries_bottom) %>
