<div class="contextual">
  <%= link_to l(:label_new_pull), _new_project_pull_path(@project), :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_pulls) %></h2>

<%= form_tag(_project_pulls_path(@project), :method => :get, :id => 'query_form') do %>
  <%= render :partial => 'queries/query_form' %>
<% end %>

<% if @pulls.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'pulls/list', :locals => {:pulls => @pulls, :query => @query} %>
  <span class="pagination"><%= pagination_links_full @pull_pages, @pull_count %></span>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'pulls/sidebar' %>
<% end %>
