<%= title l(:label_new_pull) %>

<%= call_hook(:view_pull_new_top, {:pull => @pull}) %>

<%= labelled_form_for @pull, :url => project_pulls_path(@project), :html => {:id => 'pull-form'} do |f| %>
  <%= error_messages_for 'pull' %>
  <div class="box tabular">
    <div id="all_attributes">
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>

    <div id="watchers_form_container">
      <%= render :partial => 'pulls/watchers_form' %>
    </div>
  </div>

  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
  <%= preview_link preview_new_pull_path(:project_id => @pull.project), 'pull-form' %>
<% end %>

<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
  <%= stylesheet_link_tag 'pulls', :plugin => 'redmine_pulls' %>
  <%= javascript_include_tag 'pulls', :plugin => 'redmine_pulls' %>
<% end %>

