<%= render :partial => 'action_menu' %>

<h2><%= l(:label_pull_request) %> #<%= @pull.id %></h2>

<div class="<%= @pull.css_classes %> issue details">
  <div class="subject">
    <h3><%= @pull.subject %></h3>
  </div>

  <p class="author">
    <% if @pull.merged_on %>
      <%= l(:label_merged_by, :author => link_to_user(@pull.merge_user), :commit_count => @revisions.count, :commit_base => @pull.commit_base, :commit_head => @pull.commit_head).html_safe %>.
    <% else %>
      <%= l(:label_merge_request_by, :author => link_to_user(@pull.author), :commit_count => @revisions.count, :commit_base => @pull.commit_base, :commit_head => @pull.commit_head).html_safe %>.
    <% end %>

    <%= l(:label_created_time, time_tag(@pull.created_on)).html_safe %>.

    <% if @pull.merged_on %>
      <%= l(:label_merged_time, time_tag(@pull.updated_on)).html_safe %>.
    <% elsif @pull.closed_on %>
      <%= l(:label_closed_time, time_tag(@pull.updated_on)).html_safe %>.
    <% end %>
  </p>

  <div class="attributes">
    <%= issue_fields_rows do |rows|
      rows.left l(:field_priority), @pull.priority.name, :class => 'priority'

      rows.left l(:field_assigned_to), (@pull.assigned_to ? link_to_user(@pull.assigned_to) : "-"), :class => 'assigned-to'

      unless @pull.category.nil? && @pull.project.issue_categories.none?
        rows.left l(:field_category), (@pull.category ? @pull.category.name : "-"), :class => 'category'
      end

      unless @pull.fixed_version.nil? && @pull.assignable_versions.none?
        rows.left l(:field_fixed_version), (@pull.fixed_version ? link_to_version(@pull.fixed_version) : "-"), :class => 'fixed-version'
      end
    end %>
  </div>

  <% if @pull.description? -%>
    <hr />
    <% if @pull.description? %>
      <div class="description">
        <div class="contextual">
          <%= link_to l(:button_quote), quoted_pull_path(@pull), :remote => true, :method => 'post', :class => 'icon icon-comment' if @pull.notes_addable? %>
        </div>

        <p><strong><%=l(:field_description)%></strong></p>
        <div class="wiki">
          <%= textilizable @pull, :description %>
        </div>
      </div>
    <% end %>
  <% end -%>
</div>

<div class="pull__tabs">
  <%= render_tabs pull_tabs %>
</div>

<% html_title l(:label_pull_request) + " ##{@pull.id}: #{@pull.subject}" %>

<% content_for :sidebar do %>
  <%= render :partial => 'pulls/sidebar' %>

  <div id="reviewers">
    <%= render :partial => 'pull_reviewers/reviewers', :locals => {:pull => @pull} %>
  </div>

  <% if User.current.allowed_to?(:add_pull_watchers, @project) ||
    (@pull.watchers.present? && User.current.allowed_to?(:view_pull_watchers, @project)) %>
    <div id="watchers">
      <%= render :partial => 'watchers/watchers', :locals => {:watched => @pull} %>
    </div>
  <% end %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "scm" %>
  <%= stylesheet_link_tag 'pulls', :plugin => 'redmine_pulls' %>
  <%= javascript_include_tag 'pulls', :plugin => 'redmine_pulls' %>
<% end %>

